ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Droid Serif', serif;
	font-weight: 100;
}
section{
	display: flex;;
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
.col_half{
	float: left;
	width: 50%;
}
